/.vs/heap/v15/.suo
/.vs/heap/v15/Browse.VC.db
/.vs/heap/v15/Browse.VC.opendb
/.vs/heap/v15/ipch/70cbe18db1a3d280.ipch
/.vs/heap/v15/ipch/AutoPCH/5e68e32a3065cd32/DEBUGGER_JMC.ipch
/Debug/heap.exe
/Debug/heap.ilk
/Debug/heap.pdb
/heap/Debug/heap.log
/heap/Debug/heap.obj
/heap/Debug/heap.pch
/heap/Debug/heap.tlog/CL.command.1.tlog
/heap/Debug/heap.tlog/CL.read.1.tlog
/heap/Debug/heap.tlog/CL.write.1.tlog
/heap/Debug/heap.tlog/heap.lastbuildstate
/heap/Debug/heap.tlog/link.command.1.tlog
/heap/Debug/heap.tlog/link.read.1.tlog
/heap/Debug/heap.tlog/link.write.1.tlog
/heap/Debug/pch.obj
/heap/Debug/vc141.idb
/heap/Debug/vc141.pdb
